{% extends "layout.html" %}

{% block content %}

    <ul class="productos">
      {% for product in main.products %}
        <li class="more">
          <div class="name">{{ product.name }}</div>
          <div class="price">{{ product.price }} €</div>
          <div class="desc">{{ product.desc }}</div>

          {% if 'admin' in session and session['admin'] == 1 %}
          <div class="stock">{{ product.stock }} Unidades</div>
          {% endif %}

        </li>

        {% if 'admin' in session and session['admin'] == 1 %}
        <div class="more">
          <a href="edit/{{ product.pid }}" class="buttonb"> Editar </a>

          <a href="delete/{{ product.pid }}" class="buttonred"> Borrar </a>
        </div>
        {% endif %}


      {% endfor %}
    </ul>
  </div>




{% endblock %}